{% extends 'base.html' %} {% block title %} Dialysis Forms {% endblock %} {%
block content%}

<h4>Dialysis Forms Table</h4>

<table class="table">
  <tr class="table__header">
    {% for key in dialysis_data[0].keys() %}
    <th class="table__cell">{{ key }}</th>
    {% endfor %}
  </tr>
  {% for dialysis_type in dialysis_data %}
  <tr class="table__row">
    {% for key in dialysis_type.keys() %}
    <td class="table__cell">{{dialysis_type[key]}}</td>
    {% endfor %}
    <td>
      <a href="" class="btn btn-secondary">Edit</a>
    </td>
    <td>
      <a
        href="delete_dialysis_form/{{ dialysis_type.dialysis_id }}"
        class="btn btn-danger"
        >Delete</a
      >
    </td>
  </tr>
  {% endfor %}
</table>
<hr />

<h4>Add New Dialysis Form</h4>
<div class="row">
  <div class="col-lg-7 offset-lg-2 my-5">
    <form method="POST" action="/dialysis_forms">
      <div class="form-group">
        {{ form.name.label }} {{ form.name(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.location_type.label }} {{
        form.location_type(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.adequacy_standard.label }} {{
        form.adequacy_standard(class="form-control") }}
      </div>
      <br />
      {{ form.submit(class="btn btn-primary form-control") }}
    </form>
  </div>
</div>

{% endblock %}
<!-- Code Citation https://github.com/osu-cs340-ecampus/flask-starter-app, 
  https://app.pluralsight.com/library/courses/structuring-growing-flask-application/table-of-contents -->
