{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Edit Dialysis Type {% endblock %}
{% block content%}

<h4>Edit Dialysis Type</h4>

<div class="row">
  <div class="col-lg-7 offset-lg-2 my-5">
    <form method="POST" action="/update_dialysis_type/{{ dialysis_id }}">
        <div class="form-group">
          {{ form.name.label }} {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.location_type.label }} {{
          form.location_type(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.adequacy_standard.label }} {{
          form.adequacy_standard(class="form-control") }}
        </div>
        <br />
        {{ form.submit(class="btn btn-primary form-control") }}
      </form>
  </div>
</div>

{% endblock %} 
<!-- Code Citation https://github.com/osu-cs340-ecampus/flask-starter-app, 
  https://app.pluralsight.com/library/courses/structuring-growing-flask-application/table-of-contents -->
