{% extends 'base.html' %}
{% block title %} Foods {% endblock %}

{% block content%}

<h4> Foods Table </h4>
<!--
<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
  </div>
-->
  <table class="table">
    <tr class="table__header">
        {% for key in foods[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    <tbody>
        {% for food in foods %}
        <tr>
            {% for key in food.keys() %}
            <td>{{food[key]}}</td>
            {% endfor %}
            <td><button type="submit" name="edit" >Edit</button></td>
            <td><button type="submit" name="delete">Delete</button></td>  
        </tr>
        {% endfor %}
    </tbody>
</table>
    <hr>
    <h4> Add New Food </h4>
    <div class="col-lg-7 offset-lg-2 my-5">
        <form>
            <div class="form-group">
                <label>Food Name</label>
                <input class="form-control" type="text" name="food_name">
                <label>Amount</label>
                <input class="form-control" type="text" name="amount">
                <label>Phosphorus Content</label>
                <input class="form-control" type="text" name="phosphorus">
                <label>Sodium Content</label>
                <input class="form-control" type="text" name="sodium">
                <label>Calories</label>
                <input class="form-control" type="text" name="calories">
                <label>Potassium Content</label>
                <input class="form-control" type="text" name="potassium">
            </div>
            <hr>
            <input class="btn-primary form-control" type="submit" value="Submit">
        </form>
    </div>



{% endblock %}