{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Patients {% endblock %}

{% block content%}

<h4> Patients Table </h4>
<table>
    <thead>
        <tr>

            {% for key in patients[0].keys() %}
        
            <th>{{ key }}</th>

            {% endfor %}
        </tr>
    </thead>
    <tbody>
    
        {% for person in patients %}
        <tr>

            {% for key in person.keys() %}

            <td>{{person[key]}}</td>
            {% endfor %}
            <td><a href="update_patient"><button type="submit" name="edit" >Edit</button></a></td>
            <td><a href="delete_patient/{{person.patient_id}}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form method = "POST" action ="/patients">
    <div>{{form.lname.label}} : {{ form.lname() }}</div>
    <div>{{form.fname.label}} : {{ form.fname() }} </div>
    <div>{{form.age.label}} : {{ form.age() }} </div>
    <div>{{form.gender.label}} : {{form.gender() }}</div>
    <div>{{form.height.label}} : {{form.height() }}</div>
    <div>{{ form.weight.label}} : {{form.weight() }}</div>
    {{form.submit()}}
</form>


{% endblock%}

<!--
        <hr>
    <h4> Add New Patient </h4>
    <div class="col-lg-7 offset-lg-2 my-5">
        <form>
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" name="last_name">
                <label>First Name</label>
                <input class="form-control" type="text" name="first_name">
                <label>Age</label>
                <input class="form-control" type="text" name="age">
                <label>Gender</label>
                <input class="form-control" type="text" name="gender">
                <label>Height</label>
                <input class="form-control" type="text" name="height">
                <label>Weight</label>
                <input class="form-control" type="text" name="weight">
            </div>
            <hr>
            <input class="btn-primary form-control" type="submit" value="Submit">
        </form>
    </div>
-->