{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Patients {% endblock %}

{% block content%}

<h4> Patients Table </h4>
<table>
    <thead>
        <tr>

            {% for key in patients[0].keys() %}
        
            <th>{{ key }}</th>

            {% endfor %}
        </tr>
    </thead>
    <tbody>
    
        {% for person in patients %}
        <tr>

            {% for key in person.keys() %}

            <td>{{person[key]}}</td>
            {% endfor %}
            <td><button type="submit" name="edit" >Edit</button></td>
            <td><button type="submit" name="delete">Delete</button></td>  
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ wtf.quick_form(form) }}
{% endblock%}

<!--
        <hr>
    <h4> Add New Patient </h4>
    <div class="col-lg-7 offset-lg-2 my-5">
        <form>
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" name="last_name">
                <label>First Name</label>
                <input class="form-control" type="text" name="first_name">
                <label>Age</label>
                <input class="form-control" type="text" name="age">
                <label>Gender</label>
                <input class="form-control" type="text" name="gender">
                <label>Height</label>
                <input class="form-control" type="text" name="height">
                <label>Weight</label>
                <input class="form-control" type="text" name="weight">
            </div>
            <hr>
            <input class="btn-primary form-control" type="submit" value="Submit">
        </form>
    </div>
-->